<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% elsif !site.logo %}
          <h1 id="header-title"><a href="{{ "/" | absolute_url }}">LOGOS LEARNING</a></h1>
          <p id="header-tagline">{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}

        <!-- <p class="view"><a href="{{ site.github.repository_url }}">Set an Appointment</a></p> -->

        <!-- <ul class="downloads">
          <li><a href="{{ "/about" }}">About</a></li>
          <li><a href="{{ "/tutors" }}">Tutors</a></li>
          <li><a href="{{ "/resources" }}">Resources</a></li>
        </ul> -->

        <ul>
          <li style="display: inline-block;"><a href="{{ "/about" }}">About</a></li>
          <li style="display: inline-block;"><a href="{{ "/tutors" }}">Tutors</a></li>
          <li style="display: inline-block;"><a href="{{ "/resources" }}">Resources</a></li>
        </ul>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>Soli Deo Gloria</p>
        <p><small>This project is maintained by <a href="www.codyilardo.com" target="_blank">{{ site.github.owner_name }}</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
